/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(video/meteorgif.gif);
    color: #333;
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 30px;
}

/* Container for social media links */
.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Social Media Links Styling */
.social-links {
    display: flex;
    gap: 25px;
}

/* Individual Social Media Button Styling */
.social-icon {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.social-icon i {
    margin: 0; /* No extra margin needed between icon and button */
}

/* Instagram Button */
.social-icon.instagram {
    background-color: #E4405F; /* Instagram color */
}

.social-icon.instagram:hover {
    background-color: #C13584; /* Darker Instagram hover color */
}

/* Facebook Button */
.social-icon.facebook {
    background-color: #3b5998; /* Facebook color */
}

.social-icon.facebook:hover {
    background-color: #8b9dc3; /* Lighter Facebook hover color */
}

/* TikTok Button */
.social-icon.tiktok {
    background-color: #000000; /* TikTok color */
}

.social-icon.tiktok:hover {
    background-color: #69c9d0; /* Light blue TikTok hover color */
}
